<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title%> </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/donhang.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">



                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="/hoadon" class="active"><i class="fa fa-crosshairs"></i> Đơn hàng</a>
                                </li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                <li><a href="/dangxuat"><i class="fa fa-lock"></i> Đăng Xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--/header-bottom-->
    </header>
    <!--/header-->
    <%
    if(typeof Info == 'object' && typeof TenSP == 'object' ){
%>
    <section id="cart_items">
        <div class="container">

            <!--/breadcrums-->
            <div class="row ">
                <%
                var tthd=Info[0].TrangThaiHD;
                    if(tthd <=4){
                        var a1=a2=a3="background-color: rgb(182, 182, 187)";
                        switch(tthd){
                            case 2: a1="background-color: blue"; break;
                            case 3: a1=a2="background-color: blue"; break;
                            case 4: a1=a2=a3="background-color: blue"; break;
                        }
                        %>
                <div class="col-sm-3"></div>
                <div class="col-sm-2 tt">
                    <div style="height: 10px; <%= a1%>"></div>
                    <p>Đang xử lí</p>
                </div>
                <div class="col-sm-2 tt">
                    <div style="height: 10px; <%= a2%>  "></div>
                    <p>Đang giao</p>
                </div>
                <div class="col-sm-2 tt">
                    <div style="height: 10px; <%= a3%> "></div>
                    <p>Đã giao</p>
                </div>
                <%
                    }
                    else{ %>
                <div class="col-sm-3"></div>
                <div class="col-sm-6 tt">
                    <div style="height: 10px; background-color: red; "></div>
                    <p style="text-align: center">Đã hủy</p>
                </div>
                <%
                    }
                %>


            </div>
            <div class="container register-req">
                <div class="row">
                    <div class="col-sm-10">
                        <p>Đặt ngày <%= Info[0].NgayDat%></p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tạm tính</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        var tongtamtinh=0;
                            for(var i=0;i< Info.length;i++)
                            {
                                tongtamtinh+=Info[i].Gia*Info[i].SoLuong;
                                for(var j=0;j< TenSP.length;j++){
                                    if(i==j) {
                                
                                
                                %>
                        <tr>
                            <td>
                                <img width="100px" height="100px" src="/images/<%= TenSP[j].Hinh;  %>" alt="">
                            </td>
                           
                            <td>
                                <h4><%= TenSP[j].TenSP;  %></h4>
                            </td>
                           
                            <td>
                                <p><%= Info[i].Gia%> đ</p>
                            </td>
                            <td>
                                <p><%= Info[i].SoLuong%></p>
                            </td>
                            <td>
                                <p><%= Info[i].Gia*Info[i].SoLuong %> đ</p>
                            </td>

                        </tr>
                        <%
                            } }}
                        %>


                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-5 register-req">
                    <table>
                        <tr>
                            <td>
                                <h5>Người nhận:</h5>
                            </td>

                            <td style="text-align: left; ">&nbsp;&nbsp; <%= Info[0].HoTen%> </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Địa chỉ:</h5>
                            </td>
                            <td>&nbsp;&nbsp; <%= Info[0].DiaChi%></td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Số điện thoại:</h5>
                            </td>
                            <td>&nbsp;&nbsp; <%= Info[0].SDT%> </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 register-req">
                    <h4>Tổng cộng</h4>
                    <table>
                        <tr>
                            <td>
                                <h5>Tổng tạm tính</h5>
                            </td>
                            <td class="giatri"><%= tongtamtinh %></td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Phí vận chuyển</h5>
                            </td>
                            <td class="giatri"><%= Info[0].TienVC%> đ</td>
                        </tr>

                    </table>
                    <hr style=" background: rgb(71, 70, 70); height: 1px;">
                    <div class="row">
                        <div class="col-sm-9">
                            <h5>Tổng cộng</h5>
                            <p>Thanh toán bằng hình thức <span style="size: 50px; color: blue">Thanh toán khi nhận
                                    hàng<span> </p>
                        </div>
                        <div class="col-sm-3">
                            <h4><%= Info[0].TongTien %> đ</h4>
                        </div>

                    </div>
                    <div>
                        <!-- <a href="">Hủy đơn hàng</a> -->
                        <%
                            if(Info[0].TrangThaiHD==2) {
                                %>
                        <button type="button" class=" btn btn-warning ">Hủy đơn hàng</button>
                        <%
                            }
                        %>

                    </div>
                </div>
            </div>

            <!--/register-req-->




        </div>
    </section>
    <!--/#cart_items-->
    <% } %>


    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>e</span>-shopper</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="/images/home/iframe1.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="/images/home/iframe2.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="/images/home/iframe3.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="video-gallery text-center">
                                <a href="#">
                                    <div class="iframe-img">
                                        <img src="/images/home/iframe4.png" alt="" />
                                    </div>
                                    <div class="overlay-icon">
                                        <i class="fa fa-play-circle-o"></i>
                                    </div>
                                </a>
                                <p>Circle of Hands</p>
                                <h2>24 DEC 2014</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="/images/home/map.png" alt="" />
                            <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Online Help</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Order Status</a></li>
                                <li><a href="">Change Location</a></li>
                                <li><a href="">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">T-Shirt</a></li>
                                <li><a href="">Mens</a></li>
                                <li><a href="">Womens</a></li>
                                <li><a href="">Gift Cards</a></li>
                                <li><a href="">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Terms of Use</a></li>
                                <li><a href="">Privecy Policy</a></li>
                                <li><a href="">Refund Policy</a></li>
                                <li><a href="">Billing System</a></li>
                                <li><a href="">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Company Information</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Store Location</a></li>
                                <li><a href="">Affillate Program</a></li>
                                <li><a href="">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i
                                        class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank"
                                href="http://www.themeum.com">Themeum</a></span></p>
                </div>
            </div>
        </div>

    </footer>
    <!--/Footer-->



    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>